.Menu-container {
  height: 100vh;
  @media only screen and (max-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: fixed;
    bottom: 0;
    
  }
}
.Menu {
  height: 100%;
  background: #f2f2f2;
  border-top: solid 1px #d9d9d9;
  color: white;
  display: flex;
  flex-direction: column;
  


  @media only screen and (max-width: 768px) {
    height: auto;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .menu-option {
    cursor: pointer;
    padding: 14px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
   

    @media only screen and (max-width: 768px) {
      margin-bottom: 0;
      border-radius: 0;
    }



    .menu-icon-text-wrap{
      display: flex;
      flex-direction: column;
      align-items:center;
      i{
        color: #191919;
        font-size: 1.2em;
      }
    
     
    }
    
.menu-option-text{
  color: #191919;
}

    
  
  }

  .logo {
    color: #191919;
    padding-top: 25px;
  }
}
