.sound-row {
  display: flex;

  overflow-x: auto;
  overflow-y: visible;
  margin-left: -5%;
  margin-right: -5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;

  &::-webkit-scrollbar {
    display: none;
  }

  .SoundCard {
    height: 170px;
    min-width: 170px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: 5%;
    background-color: grey;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

    span {
      background: white;
      padding: 20px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Raleway';
      font-size: 1em;

      i{
          font-size: 1.5em;
      }
    }
  }
}
