.sound-row{
    display: flex;
    gap: 20px;
    overflow: auto;
    margin-left: -5%;
    margin-right: -5%;
    padding-left: 5%;
    padding-right: 5%;

    &::-webkit-scrollbar {
        display: none;
      }

.SoundCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

}