#root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  background: white;

  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}



a {
  color: white;
  text-decoration: none;
}
